<form action="/form" method="POST">  <!-- action="表單點擊送出後 要送往的地方" -->
    Height: <input type="text" name="height"> cm <br><!-- 表單按下送出時 name會被送到/form 後端程式會去抓下來 -->
    Weight: <input type="text" name="weight"> kg <br>
    <input type="submit" value="送出">
</form>
<!-- 網址一樣 動詞不一樣（GET、POST...） 算不一樣頁面 --> 
<!-- 需要去主程式ruby檔寫處理POST需求的方法 -->