<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= yield %> 
    <!-- Ruby語法 -->
    <!--  yield 這個區塊改去讀去 hello.rb 主程式 erb 要讀取的檔案  -->
</body>
</html>